.institucion-main {
    background-color: rgb(101, 99, 99);
    color: aliceblue;

    div {
        font-style: italic;
        padding: 1.5rem;

        p {
            text-align: justify;
        }
    }

    .nuestro-club {
        padding-top: 3.5rem;
    }
}